@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,500&family=Open+Sans:wght@300&family=Raleway:wght@300&display=swap');

.body {
    background-color: #f1f1f1;
    font-family: 'Raleway', sans-serif;
    margin: 0;
}


