@import url('https://fonts.googleapis.com/css2?family=Domine&family=Outfit:wght@400;500&family=Raleway:ital,wght@1,100&display=swap');

.about-body {
    overflow: hidden;
    max-width: 50%;
    display: block !important;
}

.word-from-pres {
    display: flex;
    width: 70%;
    height: 30%;
    background-color: #E0D9FA;
    padding: 5%;
    border-radius: 25px;
    margin: 5% auto;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.pres-image {
    height: 250px;
    width: 250px;
    margin: auto;
}

.pres-message {
    font-family: 'Domine', serif;
    font-family: 'Outfit', sans-serif;
    padding: 0 20px;
    font-weight: 100;
    font-size: 1.25rem;
}